authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = moonglow.hotel.by
IP.1 = 10.20.76.48
IP.2 = 172.22.80.1