authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = moonglow.hotel.by
DNS.2 = hotel.moonglow.by
DNS.3 = localhost
IP.1 = 10.20.76.48
IP.2 = 172.22.80.1
IP.3 = 192.168.1.6
IP.4 = 127.0.0.1
IP.5 = 10.132.200.48